/* ========
  mixin
===========*/

@mixin productContent {
  width: 90%;
  position: relative;
  background-color: #fff;
  display: flex;
  border-radius: $radius;
  overflow: hidden;
  padding-right: 15px;
  min-height: 150px;
  justify-content: space-between;
  margin-bottom: 20px;
}

@mixin productNew {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  color: red;
  text-transform: capitalize;
}

@mixin section-cart__container {
  min-height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
}

@mixin section-cart__container-p {
  font-size: 2rem;
  text-transform: capitalize;
  color: #575757c4;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: $spacing;
}

@mixin section__shopping {
  display: flex;
  margin-bottom: 15px;

  .title {
    font-size: 23px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    line-height: 25px;
    text-transform: capitalize;
  }

  p {
    font-size: 14px;
    line-height: 28px;
    color: rgb(126, 133, 155);
    margin-left: 5px;
  }
}