/*
=============== 
Variables
===============
*/

$color-bg: rgb(245, 245, 245);
// $color-heder-bg: rgb(255, 255, 255);
$color-heder-bg: #feee00;
$color-text: rgb(6, 3, 24);
$color-start: #f2994a;
$value-color: rgb(56, 174, 4);
$font-title: "Dancing Script", cursive;
$font-body: "Ubuntu", sans-serif;
$fixed-width: 50rem;
$small-screen-width: 85vw;
$max-screen-width: 100vw;
$mini-screen-width: 90vw;
$radius: 0.5rem;
$spacing: 0.2rem;
$transition: all 0.3s linear;
