/* ======== 
  Heart
========= */

.section-heart {
  width: $small-screen-width;
  margin: auto;

  .section-heart__container {
    @include section-cart__container;

    .section-heart__container__empty-heart {
      margin-top: 10%;
      p {
        @include section-cart__container-p;
      }
    }
  }

  // Product Heart
  .section-heart__shopping {
    @include section__shopping;
  }

  .section-heart__product {
    display: flex;
    flex-grow: 1;

    .section-heart__product__content {
      flex: 1 1 45%;
      margin: 0 auto;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;

      .product {
        @include productContent;
        width: 45%;

        @media only screen and (max-width: 1024px) {
          width: 80%;
        }
        @media only screen and (max-width: 768px) {
          width: 100%;
        }

        .product__content {
          display: flex;
          overflow: hidden;
          flex-grow: 1;

          .product__image {
            position: relative;
            margin-right: 20px;

            a {
              img {
                @media only screen and (max-width: 768px) {
                  width: 150px;
                  height: 170px;
                }
                @media only screen and (max-width: 425px) {
                  width: 75px;
                  height: 90px;
                }
              }
            }
          }
          .product__compare {
            span {
              font-size: 14px;
              line-height: 15px;
              color: #7e859b;
              font-style: normal;
              text-transform: capitalize;
              font-weight: 200;
            }
            h1 {
              font-size: 1rem;
              font-style: normal;
              text-transform: capitalize;
              margin-top: 20px;
              font-weight: 600;
            }
          }
          .product__content__btn {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
            align-items: flex-end;

            .btn {
              background: transparent;
              border: none;
              cursor: pointer;

              &:hover {
                color: #c50a0a;
              }
              svg {
                padding: 2px;
              }
            }
          }
          .ratting {
            display: flex;
            margin-top: 1rem;

            span {
              color: $color-start;
              font-weight: 900;
              margin-right: 4px;
              font-size: 1rem;
              line-height: 0.75rem;
              height: auto;
            }
          }
        }
        .product__total {
          display: flex;
          flex-shrink: 0;
          justify-content: space-between;
          flex-direction: column;
          align-items: flex-end;

          .product__heart__total {
            flex-grow: 1;
            display: flex;
            margin-top: 10px;
          }
          .product__content__cart {
            align-items: flex-end;
            margin-left: 25px;

            button {
              background-color: transparent;
              border: none;
              color: #000;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
